<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="TranslationsRepositoryConnectionString" value="Server=localhost\SQLEXPRESS01;Database=RareDiseases;Integrated Security=true" />-->
    <add key="TranslationsRepositoryConnectionString" value="Server=VEGA-STAGING;Database=RareDiseases;User Id=doctor;Password=Patient123" />
  </appSettings>
  
</configuration>